@use "../abstract/variable.scss" as var;
@use "../abstract/mixin.scss";


@media screen and (max-width: 720px) {

    body {

        .btn {
            padding: 10px 20px;
        }
    }

    .container, .touch {
        max-width: 670px;
    }


        /////////////////////////// HEADER

        header {
            @include mixin.flex (column);
            height: 8rem;

            img {
                width: 300px;
                padding-top: .5rem;
            }

            nav {
                @include mixin.flex ($justify: center);
                padding-top: .5rem;
            }

            .burger_wrapper {
                position: static;
                top: auto;
                left: auto;
            }
        }

        /////////////////////////// LEARN
        
    #learn_more {
        margin-top: 2em;
        .learn_card {
            .learn_elements {
                width: 100%;
                height: 80%;
            }

            .img_wrapper {
                display: none;
            }
        }
    }

        /////////////////////////// SERVICES

    #services {
        height: 80rem;
        text-align: center;

        .services_title {
            align-self: center;
            padding-left: 0%;
        }

        .services_cards_container {
            @include mixin.flex (column);

            .service_building {
                // POURQUOI UN DECALAGE AVEC CELUI DU BAS ? 
                margin-bottom: -15px;
            }
        }
    }

    /////////////////////////// FEATURES
        
    #features {
        height: 90rem;
        margin-top: 2em;
        @include mixin.flex (column, flex-start, flex-start);

        .features_title {
            align-self: center;
            padding-right: 0%;
            margin-bottom: 2em;
            text-align: center;
        }

        .features_container {
            @include mixin.flex (column);
            width: 100%;

            .features_cards {
                width: 55%;
                text-align: center;

                p {
                    width: 100%;
                }
            }
        }

        .touch {
            width: 100%;
            height: 30rem;
            @include mixin.flex (column);
            gap: 2em;

            .touch_elements {
                @include mixin.flex (column, center, center);
                width: 100%;
                padding-left: 0%;
                text-align: center;

                p {
                    width: 80%;
                }
        
            }

            .btn_wrapper {
                width: 100%;
                @include mixin.flex;
            }
        }

       
    }
    
    /////////////////////////// FEATURES
    
    footer {
        @include mixin.flex(column);
        height: 70rem;

        img {
            width: 100%;
            padding-bottom: 1em;
        }

        .elements_wrapper {
            padding-top: 10rem;
            ul {
                @include mixin.flex (column);
            }

            #top_footer {
                @include mixin.flex (column);
                margin-top: 0%;
                margin-bottom: 4em;

                .img_wrapper {
                    width: 100%;
                    @include mixin.flex;
                }

                nav {

                    a {
                        font-size: 25px;
                        margin-top: 5px;
                        margin-right: 0px;
                    }
                }
                
            }

            #bottom_footer {
                @include mixin.flex (column);
                padding-top: 4em;
                // padding-bottom: 4rem;
                gap: 2em;
                text-align: center;

                .socials_container {
                    ul {
                        @include mixin.flex;
                    }
                }
            }

        }
    }
}


@media screen and (max-width: 670px) {

    .container, .touch {
        max-width: 620px;
    }

    #learn_more {

        .learn_card {

            .learn_elements {
                gap: 1em;
            }
        }     
    }  
}

@media screen and (max-width: 620px) {

    .container, .touch {
        max-width: 570px;
    }
}

@media screen and (max-width: 570px) {

    .container, .touch {
        max-width: 520px;
    }

    #features {
        height: 95rem;
    }

    footer {
        height: 60rem;
    }
}

@media screen and (max-width: 520px) {

    .container, .touch {
        max-width: 470px;
    }

    #features {
        height: 100rem;
    }

    footer {
        height: 55rem;
    }


}

@media screen and (max-width: 470px) {

    .container, .touch {
        max-width: 420px;
    }

    footer {
        height: 50rem;
    }

}

@media screen and (max-width: 420px) {

    .container, .touch {
        max-width: 370px;
    }

    #features {
        height: 105rem;
    }

}

@media screen and (max-width: 370px) {

    .container, .touch {
        max-width: 340px;
    }

    #features {
        height: 110rem;
    }

}