// SECTION LEARN



@keyframes phoneFadeIn {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }

@keyframes phoneFadeInTablet {
  0% {
    transform: translateX(130%);
  }
  100% {
    transform: translateX(0%);
  }
}