@use "../abstract/variable.scss" as var;
@use "../abstract/mixin.scss";

// SECTION LEARN



@keyframes phoneFadeIn {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }

@keyframes phoneFadeInTablet {
  0% {
    transform: translateX(130%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes titleFadeIn {
  0% {
    transform: translateY(100%);
    color: var.$primaryColor;
    visibility: hidden;
  }
  100% {
    transform: translateY(0%);
    color: white;
    visibility: visible;
  }
}

@keyframes titleFadeInTablet {
  0% {
    transform: translateX(-100%);
    color: var.$primaryColor;
    visibility: hidden;
  }
  100% {
    transform: translateY(0%);
    color: white;
    visibility: visible;
  }
}